header {
    overflow: hidden;
    font: var(--fs-span);

    strong {
        font: 500 1rem/145% var(--ff);
    }
    img[src*="Logo"]{
        width: 6.25rem;
    }
    & #primary {
        display: flex;
        padding-block: 1rem;
        align-items: center;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

    & #secondary {
        color: var(--text-color-secondary);
        font: 500 .875rem/145% var(--ff);
        border-block: 1px solid var(--stroke-color);
        display: flex;
        padding-block: 1rem;
        align-items: center;
        height: 3rem;
        width: 80rem;

        ul {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
    }
}

@media (width >=80rem) {
    header {
        #secondary {
            justify-content: center;

            ul {
                justify-content: space-between;
                width: 100%;
                gap: 0;
            }
        }
    }
}