header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    background-color: var(--surface-color);

    #info {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 37rem;

        h1 {
            color: var(--text-color-p);
        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            font: var(--p-md);
        }
        img{
            border-radius: 999rem;
        }
    }

    #links {
        display: flex;
        flex-direction: column;
        width: 10.5rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li {
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}

@media (width < 80rem) {
    header{
        flex-direction: column;
        gap:2rem;
        #info{
            flex-direction: column;
            width: 18.5rem;

            p{
                font-size: .875rem;
                line-height: 1.7;
            }

            img{
                align-self: flex-start;
                width: 7.5rem;
            }
        }

        #links{
            align-self: flex-start;
        }
    }
}