main{
    display: grid;
    grid-template-columns: 17.875rem 17.875rem 17.875rem 17.875rem;
    grid-template-rows: 17.875rem 17.875rem 17.875rem;
    gap: 1.5rem;
    padding-block: 1.5rem;

    img{
        width: 100%;
    }
}

@media (width < 80rem) {
    main.container{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        padding: 1rem;
        gap: 1rem;
    }
}